{{! Renders the entire HTML page}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{>layout/head}}
  </head>
  <body id="spectacle" class="app-header app-doc" data-init="app-doc" data-qs="qb">
    {{>layout/page}}
  </body>
</html>
