//
//= Main includes
//

$header-height: 64px;

// Scope everything inside #spectacle ...
#spectacle {
  @import 'variables';
  @import 'utils';
  @import 'schema';
  @import 'layout';
  @import 'drawer';
  @import 'monokai';

  #page {
    position: relative;
    min-height: 100%;
    padding-top: $header-height;
  }

  #sidebar {
    top: $header-height;
    height: auto;
  }

  #docs {
    position: relative;
    .floating-menu-icon {
        top: 85px;
        right: 30px;
        font-size: 24px;
        padding: 0px 6px;
        cursor: pointer;
        
        > i {
            line-height: 1.5;
            color: #fff;
            padding: 4px;
        }
    }
    &.sliding {
        .floating-menu-icon {
            display: none;
        }
    }
  }

  .hljs {
        background-color: #23241f !important;
  }
}

html, body {
    height: 100%;
}

.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: $header-height;
    z-index: 1030;
}

.app-header {
    .header-wrap,
    .footer-wrap {
        .container {
            width: 100%;
            max-width: none;
        }
    }
}

.navbar {
    .navbar-nav {
        float: right !important;

        .item {
            float: left;
            position: relative;
            display: block;
            line-height: 45px;
         }
    }
}

.navbar-fixed-bottom {
    bottom: 0;
    height: auto;
}


#header-icons {
    .item {
        line-height: normal;
        > a {
           display: inline-block;
        }
    }
}

.navbar-toggle {
    float: right;
}

@media (min-width: 768px) {
    #header {
        .navbar-header {
            float: left;
        }
     }
}

@media (min-width: 768px) and (max-width: 959px) {
    .qr-collapse-navbar-768 {
        #header {
            .navbar-header {
                float: none;
            }
         }
     }
 }

 .tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
 }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;

    > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        white-space: nowrap;
    }
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}

.open>.dropdown-menu {
    display: block;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}