{{!--
  Renders the HTML head content
--}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{info.title}} | Documentation</title>
<link rel="stylesheet" href="/s/css/app.css" />
<link rel="stylesheet" href="stylesheets/foundation.min.css" />
<link rel="stylesheet" href="stylesheets/spectacle.min.css" />
<script src="https://d12y7sg0iam4lc.cloudfront.net/s/js/jquery-1.10.2.min.js"></script>
<script src="javascripts/spectacle.min.js"></script>