{{!--
  This partial renders the main page content
  @api public
--}}
<div id="page" class="drawer-layout drawer-slide-right-large">
  <header id="header-wrapper" class="header-wrap navbar navbar-default navbar-fixed-top">
    <div id="header" class="container">
      <div id="quire-logo" class="navbar-header">
        <button id="menu-toggle" class="navbar-toggle x30 cmn-toggle-switch htx" type="button">
          <span>toggle menu</span>
        </button>
        <h1 class="quire-logo-icon">
          <em>
            <a href="/" title="Quire">
              <img src="https://quire.io/s/img/quire_logo.svg" alt="Quire">
            </a>
          </em>
        </h1>
        <h3 class="app-home-icon"><a href="/dev">Developers</a></h3>
      </div>
      <nav class="navbar-collapse bs-navbar-collapse collapse clearfix">
        <ul id="header-icons" class="nav navbar-nav navbar-right hide">
          <li class="item tutorial">
            <a href="/dev/tutorial">TUTORIAL</a>
          </li>
          <li class="item doc active">
            <a href="/dev/api">DOCUMENTATION</a>
          </li>
          <li class="item login hide">
            <a href="/login" class="b green">LOG IN</a>
          </li>
          <li class="item workspace hide">
            <a href="/w" class="b white ws-btn">Go to workspace</a>
          </li>
          <li class="item t-notification hide">
            <a id="notification" href="#" class="i-btn x30 icon-bell-o notification-btn dropdown-toggle" data-toggle="dropdown">
              <i class="notification-count"></i>
            </a>
            <ul class="arrow-dropdown-menu dropdown-menu arrow-border" role="menu">
              <li class="dropdown-header"><a class="pull-right mk-rd-btn" href="#">Mark All as Read</a> Notifications</li>
              <li class="scroll-content">
                <div class="ntf-cnt content">
                  <ul class="ntf-list dropdown-list dropdown-menu"><li></li></ul>
                  <div class="message-empty">You don't have any notifications.</div>
                  <div class="scroller-buttons">
                    <button class="scroller-btn b white">New notifications</button>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul> 
          </li>
          <li class="item t-user dropdown hide" id="u-id">
            <a href="#" class="i-btn user-icon-wrapper dropdown-toggle" data-toggle="dropdown"></a>
            <ul class="arrow-dropdown-menu dropdown-menu pull-right arrow-border" role="menu">
              <li class="dropdown-header"></li>

              <li class="u-item"><a href="[:url currentUser]"><i class="icon-user-o"></i>My Profile</a></li>
              <li class="u-item"><a href="/r/setting?tab=app"><i class="icon-dots-grid"></i>My Apps</a></li>
              <li class="u-item"><a href="/r/setting?tab=options"><i class="icon-cog-o"></i>Account Settings</a></li>

              <li class="divider"></li>

              <li class="u-item"><a href="/invite"><i class="icon-heart-o"></i>Recommend Quire</a></li>
              <li class="u-item dropdown-submenu">
                <a href="#"><i class="icon-question-circle"></i>Help</a>
                <ul class="dropdown-menu" role="menu">
                  <li class="u-item tutorial">
                    <a href="/tutorial" target="_blank"><i class="icon-graduation-cap-o"></i>Tutorial</a>
                  </li>
                  <li class="u-item">
                    <a href="/w/Getting_Started_with_Quire/" target="_blank"><i class="icon-book-open-o"></i>Getting Started</a>
                  </li>
                  <li class="u-item feedback">
                    <a href="/feedback" class="feedback-item" target="_blank"><i class="icon-inbox-file-word"></i>Feedback</a>
                  </li>
                </ul>
              </li>

              <li class="divider"></li>
              <li class="u-item"><a href="/r/logout"><i class="icon-sign-out"></i>Log out</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="sidebar">
    {{>layout/nav}}
  </div>
  {{!layout/topbar}}
  <div id="docs" class="row collapse expanded drawer" data-drawer>
    <button class="floating-menu-icon" type="button" data-drawer-slide="right">
      <i class="icon-book-open-o"></i>
    </button>
    <div class="example-box doc-content"></div>
    {{>layout/content}}
  </div>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48347893-1"></script>
<script async src="/b/mesg.js"></script>
<script async src="/s/js/pack.min.js"></script>
